.container
{
	margin: auto;
	width: 600px;
	background-color: #ddd;
}
.box
{
	background-color: #aaa;
	width: 100px;
	height: 100px;
	float: left;
	margin: 5px;
}

.player1
{
	background-color: #f97d8f;
}
.player2
{
	background-color: #adadf7;
}

.player1::after
{
	content: "1";
width: 10px;
background-color: red !important;
height: 10px;
position: relative;
bottom: -82px;
z-index: 10;
	
	
}

.player2::before
{
	content: "2";
width: 10px;
background-color: blue !important;
height: 10px;
position: relative;
bottom: -82px;
z-index: 10;
	
	
}